.personalizar{
    /* background-color: rgb(122, 122, 122); */
    background-image: url(../img/imagenfondo.jfif);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color: #333;
}

#prueba{
    text-align: center;
}

.imagenuno {
    width: 150px;
    height: 150px;
    border: 2px solid;
}

p {
    line-height: 1.6;
}
ul {
    padding-left: 20px;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.eso li{
    list-style: none;
}

.contacto{
    background-color:rgb(182, 182, 182);

}

footer{
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
    text-align: center;
}